$mainBackgroundColor:#e9e9e9; //پس زمينه اصلي
$subMenuBackgroundColor:#c6d2e7; //پس زمینه زیر منو
$background-header: #252525; // پس زمينه هدر ها با زنگ متفاوت پس زمينه
$background-menu: #061552; // پس زمينه هدر ها با زنگ متفاوت پس زمينه
$fontColor-Second: #f7d30b; // فوت با رنگ متفاوت مثلا: در زمينه مشكي فونت آبي
$fontColor-primary: #141414e1; // رنگ عمومي فونت ها
$fontColor-three: rgb(211 211 211 / 64%);
$fontColor-fourth: rgba(230, 230, 230, 0.767);
$fontColor-fifth:rgb(235, 235, 235);
$navbar-color: #212529;
$loginBtn: blue; // كليدهاي  لاگين و رجيستر
$home-mainObject-color:  rgba(37, 90, 238, 0.74); //رنگ بیرونی  input ها

$color-navBorder :#4b4d4c; //لوگوي navbar

$color-performence-title: rgba(228, 195, 7, 0.74); //عنوان خلاصه وظايف 

$background-profileName:#363636; //رنگ هاي مربوط به پروفايل و رزومه
$background-profile-rightSide:#5c5c5c;
$background-profile-leftSide:#4d4c4c;

$mainBackgroundColor-chart: #85854c;
$borderColor-objects: rgba(48, 48, 45, 0.74); // رنگ دور موضوعات و توضيحات

%line-seperator{
    margin: 10px 0;
    border-bottom: solid 1px #404040;
}
%hr {
    margin: 23px 0 14px 5px;
    color: $fontColor-primary;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
    width: 100%;
}