@import "variable.scss";  

.about {  
    color: rgb(120, 120, 120);  
    width: 95%;  
    margin: auto;  
    font-size: 16px;  
    font-family: math;  
    font-weight: 400;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    flex-direction: column;  
    text-align: justify;  
    ul{
        font-family: system-ui;
        font-size: 14px;
        font-weight: 400;
    }
}  
.resume {  
    font-family: fangsong;  
    font-weight: bold;  
    font-size: 19px;  
    color: rgb(183, 183, 183);  
    margin-bottom: 15px;  
}  

img.resume-pic {  
    width: 116px;  
    border-radius: 50%;  
    border: solid 5px rgb(1, 84, 155);  
    margin-bottom: 25px;  
}  

.resume-pic {  
    border-radius: 5px;  
    width: 80%;  
}  

.resume-text-en {  
    margin-bottom: 30px;  
}  
.skills {
    margin: 10px 5px;
    width: 220px;
}
.resume-text-fa {  
    margin-bottom: 20px;  
    direction: rtl;  
    font-family: system-ui;  
    font-size: 14px;
    line-height: 32px;  
}  

.contact-about {  
    display: flex;  
    flex-direction: row;  

    h6 {  
        margin: 10px;  
        color: $fontColor-primary;  
        font-size: 14px;  
    }  

    .about-icon {  
        color: #0074ff;  
        font-size: 16px;  
    }  

    a {  
        text-decoration: none;  
        color: $fontColor-primary;  
    }  
}  
.home-icon{
    color: white;
    font-size: 20px;
    margin: 10px 0px;
}

.about-description {
    padding: 8px 45px;
    text-align: justify;
    line-break: auto;
    font-family: system-ui;  
    font-size: 13px;
    line-height: 30px;
    width: 100%;
    color: $fontColor-primary; 

    a{
        font-size: 14px;
    }
    li{
        list-style: square;
        padding: 0px 20px;
    }
    li::marker {
        font-size: 13px;
    }
    li.ok::marker{
        color: green;
    }
    li.busy::marker{
        color: blue;
    }
}
.title-aboutSite {
    font-family: system-ui;
    color: $loginBtn;
    width: 100%;
    font-weight: 600;
    padding: 0px 5px;
}
@media only screen and (max-width: 762px) {  
    .contact-about {  
        flex-direction: column;  
    }  
} 

@media only screen and ( max-width: 500px){

    .about-description {
        padding: 8px 5px;
        text-align: justify;
        line-height: 15px;
        
        a{
            font-size: 14px;
        }
        li{
            margin-bottom: 15px;
            text-align: start;
            padding: 5px;
        }
        .contact-about {  
            h6 {  
                font-size: 13px;  
            }  
        } 

    }
}