@import "variable.scss";  

.about-sina {  
    color:$fontColor-primary;  
    width: 95%;  
    margin: auto;  
    font-family: 'IRANSanazWeb';  
    font-weight: 400;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    flex-direction: column;  
    text-align: justify;  
    ul{
        font-family: system-ui;
        font-weight: 400;
    }
    .skills {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        font-weight: 700;
        font-size: 12px;

        li::marker {  
            color: #000000; 
            font-size: 14px;
        } 
        .skill {
            font-weight: 400;
            margin: 4px 0 0 15px;
            font-size: 12px;
            list-style-type: square;
        }
    }
}  
.resume {  
    font-family: fangsong;  
    font-weight: bold;  
    font-size: 17px;  
    margin-bottom: 15px;  
}  

img.resume-pic {  
    width: 116px;  
    border-radius: 50%;  
    border: solid 3px rgb(1, 84, 155);  
    margin-bottom: 25px;  
}  

.resume-pic {  
    border-radius: 5px;  
    width: 80%;  
}  

.resume-text-en {  
    margin-bottom: 30px;  
}  

.resume-text-fa {  
    margin-bottom: 20px;  
    direction: rtl;  
    font-family: system-ui;  
    font-size: 13px;
    line-height: 32px;  
}  

.contact-about {  
    display: flex;  
    flex-direction: row;  

    span ,a{
        display: flex;
        align-content: center;
        align-items: stretch;
        margin: 6px 5px 0;
        font-size: 13px;
        font-family: math;
    } 

    .about-icon {  
        color: blue;  
        font-size: 16px; 
        margin: 0 3px; 
    }  

    a {  
        text-decoration: none;  
        color: $fontColor-primary;  
    }  
}  


.about-description {
    padding: 8px 45px;
    text-align: justify;
    line-break: auto;
    font-family: system-ui;  
    font-size: 13px;
    line-height: 30px;
    width: 100%;
    color: $fontColor-primary; 

    a{
        font-size: 14px;
    }
    li{
        list-style: square;
        padding: 0px 20px;
    }
    li::marker {
        font-size: 13px;
    }
    li.ok::marker{
        color: green;
    }
    li.busy::marker{
        color: blue;
    }
}
.title-aboutSite {
    font-family: system-ui;
    color: $loginBtn;
    width: 100%;
    font-weight: 600;
    padding: 0px 5px;
}
@media (max-width: 762px) {  
    .contact-about {  
        flex-direction: column;  
    }  
} 

@media ( max-width: 500px){

    .about-description {
        padding: 8px 5px;
        text-align: justify;
        line-height: 15px;
        
        a{
            font-size: 14px;
        }
        li{
            margin-bottom: 15px;
            text-align: start;
            padding: 5px;
        }
        .contact-about {  
            h6 {  
                font-size: 13px;  
            }  
        } 

    }
}