@import "variable.scss";

.analysis{
    color: rgb(97, 97, 97);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
} 
.folder-img{
    width: 35x;
    height: 25px;
}
.section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    margin: 40px 10px 5px 10px;
    background-color: $background-header;
    height: 60px;
    border-radius: 5px;
    font-weight: 500;
    color: $fontColor-primary;
}
.folder-summry{
    font-family: 'Vazir';
    font-size: 15px;
    margin: auto;
    padding: 2px 50px;
}
.analysis .analysis-title span{
    color: rgb(97, 97, 97);
    margin: 0 15px;
    font-family: 'Vazir';
    font-weight: bolder;
    font-size: 16px;
}
.discription{
    font-family: 'Vazir';
    font-size: 15px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.chart {
    width: 50%;
    display: flex;
    align-items: center;
    border: solid 1px $borderColor-objects;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.items-title {
    width: calc(100vw / 3 - 8px);
    background: $mainBackgroundColor;
    color: $fontColor-three;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 14px;
    margin: 3px 4px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: justify;
    border: solid 1px $borderColor-objects;
}
.items {
    list-style-type: square;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    text-align: -webkit-auto;
    color: $color-performence-title;
}
.under-under-items {
    margin: 5px 18px 0px 0px;
    list-style-type: disclosure-closed;
}
.img-backgrand-fa{
    width: 100vw;
    height: calc(100vw / 1);
    background-image: url('../../public/sysImage/CR_fa.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    opacity: 100%;
    margin-top: 15px;
}
.img-backgrand-en{
    width: 100vw;
    height: calc(100vw / 1);
    background-image: url('../../public/sysImage/CR_en.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    opacity: 100%;
    margin-top: 15px;
}
li.items::marker {
    font-size: 19px;
  }
  @media only screen and (max-width: 900px){
    .chart {
        width: 80%;
    }
}
@media only screen and (max-width: 455px){
    .items-title {
        width: 100%;
    }
    .chart {
        width: 90%;
    }
}