@import "variable.scss";  

.recharts-legend-wrapper{
    top: 0px!important;
}

.efficiency{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $fontColor-primary;
    font-family: 'IRANSanazWeb';
    font-size: 12px;
    margin: 15px auto;
}

.index{
    background-color: #ddeddd;
    padding: 5px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #10cb13;
}