@import "variable.scss";

.person {
    background: $backgroundColor;
    border-radius: 8px;
    width: 85px;
    height: 40px;
    padding: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px $home-mainObject-color;
    font-size: 13px;
    cursor: pointer;
    color: $primary-fontColor;
    font-weight: 500;
}
.v-line {
    width: 2px;
    height: 60px;
    background-color: #626262;
}
.title-chart{
    color: $backgroundColor;
    margin-bottom: 20px;
    display: flex;
    font-family: "Vazir";
    background-color: rgb(82, 81, 81);
    width: calc(100vw / 2);
    height: 60px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}
.managechart-chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 1px 0px;
    width: calc(100vw / 3 - 10px);
    margin: -5px 5px;
    border-radius: 5px 5px 0px 0px;
}
.analysis-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 1px 15px;
    width: calc(100vw / 3 - 10px);
    border-radius: 0px 0px 5px 5px;
}
.hint{
    background: rgb(90, 90, 90);
    position: absolute;
    border-radius: 5px;
    padding: 4px;
}
.show-user-on-chart{
    width: 118px;
    top: 150px;
    left: 65px;
    position: absolute;
    height: 166px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2px;
    z-index: 0;
    font-size: 0.75rem;
    flex-direction: column;
    color: black;
    font-weight: bold;
}
.show-pic-on-chart {
    width: 85px;
    height: 100px;
    border-radius: 16%;
    margin-bottom: 4px;
    padding: 2px;
}
.span.full-name {
    text-align: center;
}
label.no-data {
    text-align: center;
}