.cubecontaier{
    height: 290px;
}
.rotate {
    perspective: 50rem;
    width: 10rem;
    height: 10rem;
}
.border {
    border: 20px solid;
}
.cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: runcube linear 10s infinite;
    margin: 5rem 35rem;
    box-sizing: content-box;
}
.form {
    border: 1px solid;
    width: 10rem;
    height: 10rem;
    text-align: center;
    position: absolute;
}
.front {
    background-color: rgba(255, 0, 0, 0.396);
    transform: rotatey(0deg) translateZ(5rem);
}
.back {
    background-color: rgba(255, 255, 0, 0.396);
    transform: rotatey(180deg) translateZ(5rem);
}

.top {
    background-color: rgba(34, 255, 0, 0.396);
    transform: rotatex(90deg) translateZ(5rem);
}

.bottom {
    background-color: rgba(0, 89, 255, 0.396);
    transform: rotatex(-90deg) translateZ(5rem);
}

.left {
    background-color: rgba(183, 0, 255, 0.396);
    transform: rotatey(-90deg) translateZ(5rem);
}

.right {
    background-color: rgba(0, 251, 255, 0.396);
    transform: rotatey(90deg) translateZ(5rem);
}

@keyframes runcube {
    0% {
        transform: rotatex(0deg);
    }

    100% {
        transform: rotatex(+360deg);
    }
}

@media (min-width: 64.1rem) {
    .cube {
        margin: 5rem 35rem;
    }
}

@media (max-width: 64rem) {
    .cube {
        margin: 5rem 22rem;
    }
}

@media (max-width: 52.2rem) {
    .cube {
        margin: 5rem 16.5rem;
    }
}

@media (max-width: 33.76rem) {
    .cube {
        margin: 5rem 6.5rem;
    }
}

@media (max-width: 17.5rem) {
    .cube {
        margin: 5rem 3.5rem;
    }
}

