@import "variable.scss";  

.dashboard-text {
    font-weight: 700;
    font-size: 17px;
    text-align: start;
    padding: 10px 12px ;
    color: $fontColor-fifth;
}
.dashboard-items{
    display: flex;
    flex-direction: row;
    color: $mainBackgroundColor;
    position: relative;
    justify-content: center;

    .product{
        background-color: #2fa42c;
    }
    .plan{
        background-color: #6ab1ff;
    }

    .filter{
        background-color: #dccc0b;
        color: $mainBackgroundColor;
    }
    .dashboard-item{
        margin: 10px;
        border-radius: 4px;
        width: calc(100% / 3);
        height: 130px;
        padding: 6px 10px;
        font-weight: 650;
        cursor: pointer;
        position: relative;
    }
    a{
        text-decoration: none;
    }
    .amount{
        margin: 0 3px;
    }
    .dashboard-item{
        .d-icon{
            margin: 5px 15px;
            position: absolute;
            right: 0px;
        }
        .amounts{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            font-weight: 100;
            position: absolute;
            font-size: 15px;
            left: 8px;
            bottom: 7px;
            font-weight: 500;
            .amount{
                bottom: 5px;
            }
        }
    }
    label{
        font-weight: 500;
        font-size: 13px;
        color: $mainBackgroundColor;
        cursor: pointer;
        margin: 2px 0px;
        display: flex;
        align-items: center;
    }
}
.filter-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
hr{
    @extend %hr
}
.lines.categories {
    height: 130px;
    width: 98%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 7px;
    font-weight: 650;
    background-color: #d9d6d6;
}

@media only screen and (max-width: 560px){
    .dashboard-items{
        flex-direction: column;
        .dashboard-item{
            width: 97%;
            margin: 5px auto;
        }
    }
    .dashboard-text {
        padding: 10px 20px;
    }
    .lines.categories {
        width: 97%;
    }
}

