@import "variable.scss";  

.dashboard-text {
    font-weight: 700;
    font-size: 17px;
    text-align: start;
    padding: 10px 12px ;
    color: $fontColor-fifth;
}
.growth {
    display: flex;
    flex-direction: row;
}
.dashboard-items{
    display: flex;
    flex-direction: row;
    color: $mainBackgroundColor;
    position: relative;
    justify-content: center;

    .product{
        background-color: #2fa42c;
    }
    .plan{
        background-color: #248cfe;
    }

    .filter{
        background-color: #dccc0b;
        color: $mainBackgroundColor;
    }
    .dashboard-item{
        margin: 10px;
        border-radius: 4px;
        width: calc(100% / 3);
        height: 130px;
        padding: 10px 10px;
        font-weight: 650;
        cursor: pointer;
        position: relative;
    }
    a{
        text-decoration: none;
    }
    .dashboard-item{
        font-family: 'IRANSanazWeb';

        .d-icon{
            margin: 0px 15px;
            position: absolute;
            right: 0px;
        }
        .amounts{
            font-family:'tahoma';
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            font-weight: 100;
            position: absolute;
            font-size: 14px;
            bottom: 7px;
            font-weight: 500;
        }
    }
    label{
        font-weight: 500;
        font-size: 13px;
        color: $mainBackgroundColor;
        cursor: pointer;
        margin: 2px 0px;
        display: flex;
        align-items: center;
    }
}
.filter-date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
hr{
    @extend %hr
}
.lines.categories {
    height: 130px;
    width: 98%;
    margin: 10px auto;
    border-radius: 5px;
    padding: 7px;
    font-weight: 650;
    background-color: #d9d6d6;
}
.last-production {
    display: flex;
    align-items: center;
}
.custom-date {
    color: $fontColor-primary;
    direction: rtl;
    display: flex;
    width: 98%;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}
.input-date{
    border: solid 1px #595959;
    border-radius: 3px;
    padding: 2px;
    background-color: black;
    text-align: center;
    color: #838282;
    margin: 0px 5px;
    width: 100px;
}
.input-date-date::-webkit-input-date-placeholder {
     color: #4b4a4a;
}
.input-date:focus{
    outline: solid 1px $loginBtn; 
    border-color: $home-mainObject-color;  
}

@media only screen and (max-width: 600px){
    .dashboard-items{
        flex-direction: column;
        .dashboard-item{
            width: 97%;
            margin: 5px auto;
        }
    }
    .dashboard-text {
        padding: 10px 20px;
    }
    .lines.categories {
        width: 97%;
    }
}
@media only screen and (max-width: 450px){
    .custom-date {
        flex-direction: column;
    }
    span{
        margin-bottom: 5px;
    }
    .input-date{
        margin-bottom: 5px;
    }
}


