
@font-face {
    font-family: 'Vazir';
    src: url("/fonts/Vazirmatn-Light.woff2") format('woff2'),
         url("/fonts/Vazirmatn-Bold.ttf") format("ttf"),
  }
  
@font-face {
    font-family: 'IRANSanazWeb';
    src: url("/fonts/IRANSansWeb.eot");
    src: url("/fonts/IRANSansWeb.woff2") format('woff2'),
         url("/fonts/IRANSansWeb.woff") format("woff"),
         url("/fonts/IRANSansWeb.ttf") format("ttf"),
  }
