@import "variable.scss";

.home-image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main-image{
    width: 95%;
}
.home-text{
    color: $fontColor-primary;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0 20px;
}
.moveing-text {  
    width: 62%;
    text-align: center;
    animation: scroll 40s linear infinite; /* زمان حرکت متن را تنظیم کنید */  
} 
@keyframes scroll {  
    0% { transform: translateX(100%); }  
    100% { transform: translateX(-100%); }  
}  