@import "variable.scss";

.home-image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main-image{
    width: 95%;
    border-radius: 3px;
}
.home-text1,
.home-text2{
    color: $fontColor-primary;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0 5px;
}
.home-text2{
    color: $fontColor-primary;
    font-family:'Vazir';
    font-weight: 600;
    font-size: 18px;
}
.moveing-text {  
   /* animation: scroll 40s linear infinite;  زمان حرکت متن را تنظیم کنید */
   margin: 10px 0 -15px;
   display: flex;
   text-align: center;
   flex-direction: column;
   align-items: center;
} 
