@import "variable.scss";

body{
    overflow-x: hidden !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
div#root {
    background-color: $mainBackgroundColor;
}

::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: rgb(206, 206, 206); 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #797979; 
    cursor: pointer;
}
.first-isLoading{
  color: $fontColor-primary;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.not-found{
    background-color: #302525;
    font-size: 13px;
    padding: 5px;
    color: #884a00;
}