@import "variable.scss";  

.main-nav,  
.main-nav-not-login {  
    display: flex;  
    flex-direction: row;  
    justify-content: space-between;  
    background-color: $background-menu;  
    height: 41px;  
    padding: 0px 5px;  
    flex-wrap: wrap;  
    align-content: center;  
    align-items: center;  
    font-size: 13px;  
    color: rgba(241, 241, 241, 0.637);  
    border-bottom: solid 1px #1d295b;
    border-top: solid 2px black;
    /* position: fixed; */  
    /* top: 0; */  
    /* width: 100%; */  
    /* z-index: 100; */  
}  

nav.main-nav ul li,  
nav.main-nav-not-login ul li {  
    list-style: none;  
}  

div.main-nav-not-login li,  
div.main-nav li {  
    list-style-type: none;  
}  

.nav-right,  
.nav-left,  
.nav-center {  
    display: flex;  
    flex-direction: row;  
    align-items: center;  
    align-content: center;  
    flex-wrap: wrap;  
    margin: revert;  
    justify-content: space-between;  
    padding-left: inherit;  
}  

.nav-right {  
    margin-right: 10px;  
}  

.language {  
    height: 15px;  
    width: 23px;  
    cursor: pointer;  
    margin: 0px 12px 0 0;
}  

.navlink {  
    margin: 0 10px;  
    color: $mainBackgroundColor;  
    text-decoration: none;  

    // &:hover {  
    //     transition: all 0.6s;  
    //     color: $fontColor-Second;  
    // }  

    &.active {  
        font-weight: bold;
    }  

    &.diactive {  
        color: rgba(241, 241, 241, 0.637);  
    }  
}  

.subdropdown-item.log-item {  
    color: rgb(41, 41, 41);
    font-weight: 500;
    margin: 2px 1px;
    width: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {  
        cursor: pointer;  
        border: solid 1px red;
        border-radius: 50%;
        box-shadow: 0 0 10px red;  
    } 
}  

.nav-logo {  
    border-radius: 50%;  
    padding: 4px;  
    border: solid 2px $color-navBorder;  
}  

.user-login {  
    border-radius: 50%;  
    border: solid 2px $fontColor-Second;  
    display: flex;  
    flex-direction: row;  
    width: 28px;  
    height: 28px;  
    font-family: sans-serif;
    font-size: 12px;  
    color: white;  
    justify-content: center;  
    box-shadow: 0 0 10px rgb(214 189 52); 
    text-align: center;  
    align-items: center;  
    margin: auto;
}  

.home-text1{
    color: $mainBackgroundColor;
    font-size: 12px;
    font-weight: 400;
    font-family: 'IRANSanazWeb';
    margin-right: 4px;
}

.moveing-text {  
    /* animation: scroll 40s linear infinite;  زمان حرکت متن را تنظیم کنید */
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
} 

.sort-down {  
    font-size: 15px;  
    margin-left: 0;  
    color: $fontColor-primary;  
}  

.login-icon {  
    font-size: 19px;  
    margin-top: 3px;  
}  

.nav-left a {  
    text-decoration: none;  
}  

.line-seperator {  
    @extend %line-seperator;  
}  

.nav-left {  
    margin-left: 5px;  
}  

.subdropdown {  
    position: relative;  
    display: inline-block;  
}  

.dropdown-toggle {  
    background-color: $background-menu;  
    color: $mainBackgroundColor;  
    border-radius: 4px;  
    margin-left: 3px;
    padding-right: 1px;
    padding-left: 1px;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}  

.item-email {  
    cursor: auto !important;  
    font-weight: 400;
    text-align: center;  
}  

.subdropdown-menu {  
    position: absolute;
    flex-direction: column;
    color: $fontColor-primary;
    display: flex;
    top: 41px;
    right: 0px;
    font-size: 13px;
    background-color: $subMenuBackgroundColor;
    padding: 15px;
    border-bottom: none;
    border-radius: 0 0 0px 5px;
    z-index: 1;  
    height: 110px;
}  

.subdropdown-item {  
    padding: 5px 10px;   
}  

.view-profile {  
    border: solid #2ba1d7 1px;  
    border-radius: 19px;  
    padding: 6px 15px;  
    text-align: center;  
    margin: -5px 10px 10px;  
}  
 

@media (min-width: 993px) {  
    .main-nav {  
        display: flex;  
    }  
}  

@media (max-width: 992px) {  
    .main-nav {  
        display: none;  
    }  
}  
@media (max-width: 300px) {  
    .home-text1 {  
        display: none;  
    }  
}  

 