@import "variable.scss";

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1c1c1c;
    height: 52px;
    padding: 5px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    font-size: 14px;
    color: rgba(241, 241, 241, 0.637);
    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; */
}
div.main-nav li{
    list-style-type: none;
}
.nav-right , .nav-left , .nav-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}
.language {
    height: 18px;
    width: 27px;
    cursor: pointer;
    border-radius: 3px;
}
.navlink{
    margin: 0 10px 0 ;
    color: rgba(241, 241, 241, 0.637);
    text-decoration: none;
}
.active{
    color: $differentColor;
    font-weight: 500;
    border-bottom: $differentColor solid 2px;
}
.diactive{
    color: rgba(241, 241, 241, 0.637);
}
.navlink:hover{
    transition: all .6s;
    color: $differentColor;
}
.log-item {
    padding: 1px 4px;
    margin: -2px 0px 0;
    
}
.nav-logo {
    border-radius: 50%;
    padding: 4px;
    border: solid 2px $border-color-nav-logo;
}
.user-login {
    border-radius: 50%;
    border: solid 2px $home-mainObject-color;
    display: flex;
    flex-direction: row;
    width: 45px;
    font-family: auto;
    font-size: 25px;
    color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px $differentColor;
    padding-bottom: 3px;
    margin-right: 6px;
}
.home-icon {
    font-size: 16px;
}
.login-icon{
    font-size: 19px;
    border-bottom: $backgroundColor solid 2px!important;
    margin-top: 4px;
}
.nav-left a{
    text-decoration: none;
    margin-right: 6px;
}

@media (min-width:993px){
    .main-nav {
      display: flex;
    }
}
  @media (max-width:992px){
    .main-nav {
      display: none;
    }
}