@import "variable.scss";

.nav-sections {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.border-nav-section{
    border-radius: 50%;
    border: solid 2px green;
    padding: 10px;
    height: 100px;
    width: 100px;
    text-align: center;
    display: flex;
    cursor: pointer;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px;
}
.nav-sections a{
    text-decoration: none;
    color: $fontColor-primary;
    background-color: #181818;
}

@media only screen and (max-width:340px) {
    .nav-sections{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .border-nav-section{
        margin-bottom: 10px;
    }
} 
