@import "variable.scss";

.login-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
    align-items: center;
}
.sign-form-container{
    width: 365px;
    position: relative;
}
.user-sign {
    display: flex;
    justify-content: space-around;
    font-family: 'Vazir';
    width: 100%;
    padding: 10px;
    background-color: $mainBackgroundColor;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #c1c1c1;
    color: $fontColor-primary;
    font-weight: 200;
    font-size: 14px;
    .active{
        font-weight: bold;
    }
}

.sign-form{
    display: flex;
    border-radius: 5px;
    padding-top: 5px;
    flex-direction: column;
    align-items: center;
}
.sign:hover{
    cursor:pointer;
}
.user-add-msg{
    border-radius: 3px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px 5px;
    width: 95%;
}
.sign{
    transition: all 0.2s;
}
@media only screen and (max-width:416px ){
    .user-sign {
        width: 78%;
    }
    .sign-form-container {
        width: 99%;
    }
}

