@import '_variable.scss';

.table-title {  
    text-align: center;  
  }  
  
  .custom-table {  
    width: 100%;  
    border-collapse: collapse;  
    margin: 0 auto;  
  }  

  .custom-table th {  //عنوان
    background-color: #c3c3c3;
    color: $fontColor-primary;
    font-weight: 300;
    font-family: 'IRANSanazWeb';
    font-size: 15px;
  }  
  
  .custom-table th, .custom-table td { //بدنه جدول 
    border: 1px solid #a4a4a4;
    padding: 5px;
    text-align: center;
    font-family: 'IRANSanazWeb';
    font-size: 12px;
  }  

  .custom-table tr:hover {  
    background-color: rgb(4, 65, 24); 
    color: $mainBackgroundColor; 
    cursor: pointer;
  } 
