$backgroundColor:black;
$differentColor: rgb(247, 211, 11); // فوت با رنگ متفاوت مثلا: در زمينه مشكي فونت آبي
$primary-fontColor: rgba(241, 241, 241, 0.637); // رنگ عمومي فونت ها

$loginBtn: rgba(228, 195, 7, 0.74); // كليدهاي  لاگين و رجيستر
$home-mainObject-color:  rgba(228, 195, 7, 0.74); // رنگ دور موضوعات اصلي صفحه هوم (خانه)

$border-color-nav-logo :#4b4d4c; //لوگوي navbar

$top-performence-title_Color: rgba(228, 195, 7, 0.74); //عنوان خلاصه وظايف 