$backgroundColor:black;
$loginBtn: rgba(228, 195, 7, 0.74); // كليدهاي  لاگين و رجيستر
$differentColor: rgb(247, 211, 11); // فوت با رنگ متفاوت مثلا: در زمينه مشكي فونت آبي
$home-mainObject-color:  rgba(228, 195, 7, 0.74); // رنگ دور موضوعات اصلي صفحه هوم (خانه)
$primary-fontColor: rgba(241, 241, 241, 0.637); // رنگ عمومي فونت ها
$border-color-nav-logo :#4b4d4c;