.about{
    color: rgb(120 120 120);
    text-align: justify;
    padding: 0 200px;
    font-size: 16px;
    font-family: math;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sina{
    font-family: fangsong;
    font-weight: bold;
    font-size: 19px;
    color: rgb(161 161 161);
    margin-bottom: 10px;
}
img.sina-about {
    width: 110px;
    border-radius: 47%;
    border: solid 3px #8a8a8a;
    margin-bottom: 35px;
}
.resume{
    border-radius: 5px;
}
.sina-text{
    margin-bottom: 40px;
}