.footer{
    background-color: black;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-size: 15px;
    border-top: solid 1px #68686833;
}
.insig-footer{
    border-radius: 50%;
    box-shadow: 0px 0px 10px blue;
    padding: 12px;
    border: solid 2px blue;
}
.contact{
    color: rgba(241, 241, 241, 0.54);
    display: flex;
    flex-direction: column;
    margin-bottom: 0;

}
.unlink-decoration{
    text-decoration: none;
}
.unlink-color{
    color: rgba(241, 241, 241, 0.54);
}
.planning-pic {
    width: 60px;
    margin: 10px;
}
.contact-us{
    margin-bottom: 3px;
    font-size: 12.5px;
}
.under-footer{
    text-align: center;
}
.about-sina{
    text-decoration: none;
    color: rgb(13 110 202);
}
.left-footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: #616161;
}
.left-footer h6{
    font-size: 14px;
}

@media only screen and (max-width:619px) {
    
    .footer {
        flex-direction: column;
    }
    .contact {
        margin-bottom: 20px;
    }
    .insig-footer{
        display: none;
    }
  } 
  @media only screen and (max-width: 455px){

    .contact-us {
        font-size: 13px;
    }
    .planning-pic {
        width: 160px;
    }
}
