
.learn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: #838383;
}
.lf-logo{
    margin: 15px 0 15px 0;
}
.logo-title{
    font-weight: bold;
    font-family: fangsong;
    font-style: normal;
    font-size: 14px;
    background-color: #707da1;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}
.web-img{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}
.logo-format {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.logo-title .untitle{
    font-family: fangsong;
    font-style: normal;
    font-size: medium;
    font-weight: 200;
}
.h-line{
    margin: 25px 0 25px 0;
}
.logo-format div div li{
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
}
.learn{
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
li.learn-item {
    margin-left: 25px;
}

/* .img-backgrand{
    width: 100vw;
    height: 35vh;
    background-image: url('/sysImage/web-.jpg');
    background-size: cover;
    opacity: 70%;
} */

@media only screen and (max-width:409px) {
    
    .logo-format {
        flex-direction: column;
    }
} 
