.sign-with-contaner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;    
}
.or-login-with{
    text-align: center;
    width: 15%;
    margin: auto;
    border-bottom: solid 1px rgb(204, 204, 204);
    padding: 5px;
    margin-bottom: 15px;
}
.sign-in-with-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-in-with {
    background-color: rgb(253, 253, 253);
    height: 45px;
    margin: 10px;
    border: solid 1px rgb(93, 93, 93);
    display: flex;
    border-radius: 34px;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 130%;
}
