body{
    overflow-x: hidden !important;
    overflow-y:auto;
    background-color: black;
} 
div#root {
    background-color: black;
}

::-webkit-scrollbar {
    width: 12px;
    height: calc(100vw /10 );
  }

  /* Track */
::-webkit-scrollbar-track {
    background: white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #797979; 
    cursor: pointer;
  }
