body{
    overflow-x: hidden !important;
    box-sizing: border-box;
} 
div#root {
    background-color: black;
}

::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
::-webkit-scrollbar-track {
    background: rgb(206, 206, 206); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #797979; 
    cursor: pointer;
  }
