.login-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
    align-items: center;
    margin-top: 20px;
}
.sign-form-container{
    width: 365px;
    position: relative;
}
.user-sign {
    display: flex;
    justify-content: space-around;
    font-family: 'Vazir';
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #363636;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: solid 1px #262626;
    color: #175af7;
}
.sign-form{
    display: flex;
    border-radius: 5px;
    padding-top: 5px;
    flex-direction: column;
    align-items: center;
}
.sign:hover{
    cursor:pointer;
}
.user-add-msg{
    border-radius: 3px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px 20px;
}
.sign{
    transition: all 0.2s;
}